.body{
    position: relative;
    background: url("https://130e178e8f8ba617604b-8aedd782b7d22cfe0d1146da69a52436.ssl.cf1.rackcdn.com/aclu-files-lawsuit-over-facial-recognition-at-us-airports-showcase_image-4-a-13957.jpg") no-repeat;
    background-size: cover;
}
.header_text {
    font-size: 25px;
    color: #fff;
}
.container {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
}
.cam_css {
    padding: 10px 10px;
}
.label_css {
    text-align: center;
    color: #fff;
}
#startBtn {

}